#tabelinfo td, #tabelinfo th {
  border: 2px solid;
}

#tabelinfo th{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: left;
    color: black;
}

.App{
  width:1100px;
  margin:0 auto;
  padding-top:40px;
  font-family: 'Oswald', sans-serif;
}

.thprincipal{
  padding-left:40px !important;
  padding-right:40px !important;
  
  font-size: medium;
}
img {
  border-radius: 4px;
  padding: 5px;
}