

#tabelinfo th{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left:20px;
    text-align: left;
    color: black;
}

.App{
  padding-left:20px;
  padding-right: 20px;
  margin:3px;
  padding-top:40px;
  font-family: 'Oswald', sans-serif;
}
img {
  border-radius: 4px;
  padding: 5px;
  width: 70px;
}
.modal-content{
  text-align: center;
}
.table{
  table-layout: fixed;
}
.button{
  text-align: center;
  margin-top:20px;
}